.additionals {


  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
  }
  }

.additionals-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.additionals__title {
  position: relative;
  .title();
  line-height: 24px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    .main-title();
    margin-bottom: 80px;
    padding: 0 30px;
  }
}


// .additionals__title::before {
//   @media (max-width: @mobile-only-width) {
//     position: absolute;
//     content: "";
//     top: -25px;
//     left: 0;
//     width: 100vw;
//     height: 1px;
//     background: @light-gray;
//   }

//   @media (min-width: @tablet-width) {
//     position: absolute;
//     content: "";
//     top: 18px;
//     left: -30px;
//     width: 30px;
//     height: 2px;
//     background: @basic-green;
//   }
// }

// .additionals__title::after {
//   @media (min-width: @tablet-width) {
//     position: absolute;
//     content: "";
//     top: 18px;
//     left: 400px;
//     min-width: 500px;
//     height: 2px;
//     background: @basic-green;
//   }

//   @media (min-width: @desktop-width) {
//     min-width: 1100px;
//   }
// }

.additionals__title::before {
  position: absolute;
  content: "";
  top: 20px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: @basic-green;
  box-shadow: 100vw 0px 0px @basic-green;
}

.additionals__title span::before {
  position: absolute;
  content: "";
  width: 450px;
  height: 2px;
  background: @white;
  top: 20px;
  left: -10px;
}

.additionals__list {

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.additional__title {
  .title();
  color: @darker-gray;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional {
  margin-bottom: 30px;
  border-bottom: 1px solid @light-gray;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 325px 325px 245px;
    margin: 0;
    min-height: 70px;
    align-items: center;

  }

}

/*не работает
.additional:first-of-type::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    width: 100vw;
    height: 1px;
    background: @light-gray;
}
*/

.additional:last-child {
  margin-bottom: 55px;

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
  }
}

.additional__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.additional__value {
  margin-left: 50px;

  @media (min-width: @desktop-width) {
    margin-right: 40px;
  }
}

