.additional__title {
  .title();
  font-size: 16px;
  line-height: 16px;
}

.additionals__title {
  .title();
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 50px;
}

.additional__title {
  .title();
  color: @darker-gray;
}

.additionals__item {
  margin-bottom: 30px;
}

.additionals__item:last-child {
  margin-bottom: 55px;
}
