.additionals {


  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
  }
  }

.additionals-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.additionals__title {
  position: relative;
  .title();
  line-height: 24px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    .main-title();
    margin-bottom: 80px;
    padding: 0 30px;
  }
}

.additionals__title::before {
  position: absolute;
  content: "";
  top: 12px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: @basic-green;
  box-shadow: 100vw 0 0 @basic-green;

  @media (min-width: @tablet-width) {
    top: 20px;
  }
}

.additionals__title span {
  position: relative;
  display: block;
  background-color: @white;
  box-shadow: -40px 0 0 @white, 21px 0 0 @white;

  @media (min-width: @tablet-width) {
    box-shadow: 35px 0 0 @white;
  }
}

.additionals__list {

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.additional__title {
  .title();
  color: @darker-gray;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional {
  margin-bottom: 30px;
  border-bottom: 1px solid @light-gray;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 325px 325px 245px;
    margin: 0;
    min-height: 70px;
    align-items: center;

  }

}

.additional:last-child {
  margin-bottom: 55px;

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
  }
}

.additional__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.additional__value {
  margin-left: 50px;

  @media (min-width: @desktop-width) {
    margin-right: 40px;
  }
}

