.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    background-color: @basic-gray;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.card__title {
  .title();
  color: @darker-gray;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
    margin-top: 46px;;
  }
}

.card__title::before {
  position: absolute;
  content: "";
  top: -19px;
  left: 0;
  width: 100vw;
  height: 1px;
  background: @light-gray;
}

.card-wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.card:last-child {
  margin-bottom: 36px;
  padding: 0 60px;
}

.card__image {
  display: block;
  margin: auto;

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.specifications__list {
  margin-top: 18px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 33px;
  }
}


.specification {
  display: flex;
  justify-content: space-between;
}

.specification__property,
.specification__value,
.catalog__view-more__description {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}


