.catalog {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
  }
}

.catalog__title {
  .main-title();
  margin-top: 18px;
  margin-bottom: 75px;

  @media (min-width: @tablet-width) {
    margin-bottom: 163px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 165px;
  }
}

.catalog__list {

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 64px;
  }
}

.catalog__view-more {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-top: 161px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {

  }
}

.catalog__view-more__description {
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}
