.catalog {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
  }
}

.catalog__title {
  position: relative;
  .main-title();
  margin-top: 18px;
  margin-bottom: 75px;

  @media (min-width: @tablet-width) {
    .main-title-big();
    margin-top: 64px;
    margin-bottom: 163px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 165px;
  }
}

.catalog__title::before {
  @media (max-width: @mobile-only-width) {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    background: @light-gray;
  }

}

.catalog__list {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 64px;
  }
}

.catalog__view-more {
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 80px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-top: 161px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {

  }
}

.catalog__view-more::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 115px;
  width: 30px;
  height: 30px;
  background: url("../img/plus-icon.svg") no-repeat;

  @media (min-width: @tablet-width) {
    top: -100px;
    left: 60px;
    width: 60px;
    height: 60px;
    background-size: 100%;
  }

  @media (min-width: @desktop-width) {

  }
}

.catalog__view-more-description {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}

.catalog__view-more__button {
  align-self: center;
}
