.product-catalog__title {
  .title();
  font-size: 36px;
  line-height: 36px;
}

.catalog__item-title {
  .title();
  font-size: 16px;
  line-height: 16px;
}

.specification__property,
.specification__value,
.catalog__view-more__description {
  font-size: 12px;
  line-height: 16px;
}

.catalog__view-more {
  font-size: 16px;
  line-height: 20px;
}
