.contacts {
  background: @white;

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 400px;
    padding-top: 76px;
  }
}

.contacts-block {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  align-items: center;
  padding: 26px 0;

  @media (min-width: @tablet-width) {
    gap: 341px;
    padding: 58px 40px;
  }

  @media (min-width: @desktop-width) {
    gap: 87px;
    width: 565px;
    min-height: 198px;
    padding: 52px 60px 56px 80px;
    background-color: @white;
    z-index: 1;
  }

}

.contacts__title {
  .title();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 125px;
    text-align: left;
  }
}

.contacts__text {
  text-align: left;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
    min-height: 80px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 175px;
    text-align: left;
  }
}

.map {
  position: relative;
  width: 100%;
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// не отрисовался псевдоэлемент

// .map::after {
//   position: absolute;
//   content: "";
//   top: 100px;
//   left: 100px;
//   width: 57px;
//   height: 53px;
//   background: url("../img/map-pin.png") no-repeat;
// }
