.contacts {
  background: @white;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.contacts-wrapper {
  display: flex;
  padding: 26px 20px;

  @media (min-width: @tablet-width) {
    gap: 295px;
    padding: 56px 50px;

  }

  @media (min-width: @desktop-width) {
    width: 565px;
    height: 198px;
    gap: 0;
    padding: 56px 60px 56px 80px;
    position: absolute;
    background-color: @white;
    top: 95px;
    left: 110px;
  }
}

.contacts__title {
  .title();
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
    text-align: left;
  }
}

.contacts__text {

}
