.copyright__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 168px;
  }
}

.copyright__text {
  font-size: 16px;
  text-transform: capitalize;
}

.copyright::before {
  @media (max-width: @mobile-only-width) {
    position: absolute;
    content: "";
    top: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: @light-gray;
  }
}

.copyright:hover .html-academy-logo{
  color: @basic-green;
}

.copyright:active {
  opacity: 0.3;
}

