.example {
  background: @basic-gray;

  @media (min-width: @tablet-width) {
    background: linear-gradient(0deg, rgba(242,242,242,1) 43%, rgba(255,255,255,1) 43%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(0deg, rgba(242,242,242,1) 77%, rgba(255,255,255,1) 77%);
  }
}

.example-main-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }
}

.example-wrapper {
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    box-sizing: border-box;
    width: 434px;
    padding: 0;
  }
}

.example__title {
  .main-title();
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    .main-title-big();
    margin-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
    margin-top: 0;
  }
}

.example__text {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.example__stats-wrapper {

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 167px;
  }

  @media (min-width: @desktop-width) {
    display: block
  }
}

  .example__list {
    display: flex;
    gap: 32px;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      gap: 42px;
      margin-bottom: 100px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 55px;
    }
  }

.example__item {
  display: flex;
  flex-direction: column;
  width: 124px;

  @media (min-width: @tablet-width) {
    width: 162px;
    gap: 11px;
  }

}

.example__number {
  .title();
  line-height: 24px;
  text-align: center;
  border: 1px @dark-gray solid;
  padding: 15px 20px 17px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 20px 20px;
  }
}

.example__description {
  width: 77px;
  margin: -13px auto 0;
  text-align: center;
  font-size: 12px;
  text-transform: lowercase;
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    width: 125px;
    margin: -22px auto 0;
    font-size: 14px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    margin: -26px auto 0;
    background-color: @basic-gray;
  }
}

.example__description--time {
  @media (min-width: @tablet-width) {
    width: 140px;
  }
}

.example__spent {
  display: flex;
  justify-content: center;
  .title();
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: start;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    text-align: left;
    margin-left: 0;
  }
}

.example__spent span {
  @media (min-width: @desktop-width) {
    margin-right: 63px;
  }
}

.slider-cat {
  position: relative;
  display: flex;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    width: 560px;
    padding-bottom: 0;
  }
}

.slider-cat-wrapper {
  position: relative;
  display: flex;
  width: 100%;

  @media (min-width: @tablet-width) {
    justify-content: center;
  }
}

.cat-before-image,
.cat-after-image {
  display: flex;
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 560px;
  }
}

.cat-before-image {
  position: absolute;
  clip: rect(0px,140px,256px,0px);

  @media (min-width: @tablet-width) {
    left: 75px;
    top: 0;
    clip: rect(0,280px,512px,0);
  }
}


.cat-after-image {
  position: absolute;
  left: 0;
  clip: rect(0,256px,256px,140px);

  @media (min-width: @tablet-width) {
    left: 75px;
    clip: rect(0,512px,512px,280px);
  }
}


.range-slider {
  position: relative;
  left: 140px;
  display: block;
  width: 4px;
  height: 256px;
  border: 2px solid @special-gray;
  border-radius: 2px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    height: 512px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    left: 75px;
  }
}

.range-slider::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -19px;
  width: 40px;
  height: 40px;
  background: url(../img/slider-arrows.svg) white no-repeat;
  background-position: 7px 10px;
  border: 2px solid @special-gray;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
