.example {
  background: #D9D9D9;
}

.example__wrapper {
  margin-bottom: 20px;
}

.example__title {
  .main-title();
  line-height: 40px;
  margin-bottom: 40px;
}

.example__number {
  .title();
  line-height: 24px;
}

.example__item {
  border: 1px @dark-gray solid;
  margin-bottom: 20px;
}

.example__spent {
  .title();
  font-size: 14px;
  line-height: 20px;
}
