.logo-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 540px;
  }
}

.logo {
  margin-right: 55px;
}
