.logo-wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 540px;
  }
}
