.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 55px;

  @media (min-width: @tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 540px;
  }
}
