.main-header {
  display: flex;
  min-height: 65px;
  padding: 10px 20px 17px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 54px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    min-height: 110px;
    padding: 0 54px;
  }
}
