.owner-contacts {
  position: relative;
  margin-bottom: 23px;
  border-bottom: none;
}

.owner-contacts__title {
  .title();
  margin-bottom: 35px;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    .main-title();
    margin-bottom: 76px;
  }
}

.owner-contacts__title::before {
  position: absolute;
  content: "";
  top: 43px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: @basic-green;
  box-shadow: 100vw 0px 0px @basic-green;

  @media (min-width: @tablet-width) {
    top: 20px;
  }
}

.owner-contacts__title span {
  position: relative;
  display: block;
  min-width: 187px;
  background-color: @white;
  box-shadow: -50px 0 0 @white, 10px 0 0 @white;

  @media (min-width: @tablet-width) {
    min-width: 517px;
    box-shadow: -40px 0 0 @white, 50px 0 0 @white;
  }
}


.owner-contacts__list {


  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 569px);
    column-gap: 80px;
  }
}

.owner-contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    margin-bottom: 67px;
  }
}

.email-field {
  mask-image: url("../img/email-icon.svg");
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
  mask-position: top 13px right 15px;
  background-color: @darker-gray;

  &:focus {
    background-color: @basic-green;
  }

  &:invalid {
    background-color: #FF8282;
  }
}


.tel-field {
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: top 13px right 15px;
  background-size: 20px 20px;
}

input[placeholder] {
  text-transform: uppercase;
}
