.owner-contacts {
  position: relative;
  margin-bottom: 7px;
  border-bottom: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.owner-contacts__title {
  .title();
  margin-bottom: 35px;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    .main-title();
    margin-bottom: 73px;
  }
}

.owner-contacts__title::before {
  position: absolute;
  content: "";
  top: 42px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: @basic-green;
  box-shadow: 100vw 0px 0px @basic-green;

  @media (min-width: @tablet-width) {
    top: 20px;
  }
}

.owner-contacts__title span {
  position: relative;
  display: block;
  width: 191px;
  background-color: @white;
  box-shadow: -50px 0 0 @white, 10px 0 0 @white;

  @media (min-width: @tablet-width) {
    min-width: 517px;
    box-shadow: -40px 0 0 @white, 35px 0 0 @white;
  }
}


.owner-contacts__list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 569px);
    column-gap: 80px;
  }
}

.owner-contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    gap: 13px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    margin-bottom: 67px;
  }
}

.email-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  color: @black;

  @media (min-width: @tablet-width) {
    right: 15px;
  }

  @media (min-width: @desktop-width) {
    left: 530px;
  }

  &:focus {
    color: @basic-green;
    outline: none;
  }

  &:invalid {
    color: #FF8282;
  }
}


.tel-field {
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 10px;
  background-size: 20px 20px;

  @media (min-width: @tablet-width) {
    background-position: top 15px right 15px;
  }
}

.tel-field:invalid input {
  outline: 1px solid #FF8282;
}

input[placeholder] {
  text-transform: uppercase;
}
