.program-options {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

}

.program-options__wrapper {


  @media (min-width: @desktop-width) {
    display: flex;
    gap: 80px;
    padding: 0 110px;
  }
}

