.program-goals__list {
  padding-top: 23px;
  padding-bottom: 19px;
}

.program-goals__item {


  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }
}

.program-goal__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @darker-gray;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {

  }
}
