.program-goals__list {
  position: relative;
  padding-top: 32px;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 29px;
    margin-bottom: 70px;
  }
}

.program-goals__list::after{
  @media (max-width: @mobile-only-width) {
    position: absolute;
    content: "";
    bottom: -1px;
    right: 0;
    width: 100vw;
    height: 1px;
    background: @light-gray;
    box-shadow: 100vw 0 0 @light-gray;
  }
}

.program-goals__item {
  @media (min-width: @tablet-width) {
    margin-left: 27px;
  }
}

.program-goals__item:not(:last-child) {
  margin-bottom: 13px;
}

.program-goals__label {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @darker-gray;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

