.program-option {
  background: #D9D9D9;
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.program-option__title {
  .title();
  line-height: 36px;
  padding: 30px 52px 30px 91px;

  @media (min-width: @tablet-width) {
    .main-title();
    padding: 77px 449px 24px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 150px 73px 214px;
  }
}

.program-option__description {
  padding: 0 33px 38px 20px;

  @media (min-width: @tablet-width) {
    padding: 0 316px 48px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 60px 23px 52px;
  }
}

.program-option__link {
  color: @black;
  font-size: 16px;
  line-height: 16px;
  padding: 0 127px 18px 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 450px 53px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 350px 55px 52px;
  }
}
