.program-form__title {
  .title();
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-form__description {
  margin: 0;
  margin-bottom: 39px;
  color: @black;
}

.program-selection__fields {
  border: none;
  border-bottom: 1px solid @light-gray;
}

.cat-info__item {
  margin-bottom: 14px;
}

.program-goals__list {
  padding-top: 23px;
  padding-bottom: 19px;
}

.program-goal__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @darker-gray;
}

.owner-contacts__title {
  .title();
  font-size: 24px;
  line-height: 26px;
  padding-top: 26px;
  margin-bottom: 35px;
}

.owner-contacts__item {
  margin-bottom: 14px;
}

.about-cat__title {
  .title();
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 37px;
}

.extra__title {
  .title();
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
}

.extra__item:last-child {
  margin-bottom: 34px;
}

.extra__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @darker-gray;
}

.program-form__button {
  margin-bottom: 21px;
}

.program-form__asterisk {
  margin-bottom: 32px;
}
