.program-option {
  position: relative;
  background: @basic-gray;
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.program-option__header {
  position: relative;
}

.program-option__header::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background: @basic-green no-repeat;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 92px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}


.program-option__header::after {
  position: absolute;
  content: "";
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background: url("../img/cat-slim.svg") no-repeat;

  @media (min-width: @tablet-width) {
    top: 81px;
    left: 476px;
    width: 140px;
    height: 194px;
    background-size: contain;
  }

  @media (min-width: @desktop-width) {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}

.program-option__header-pro::after {
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background: url("../img/cat-pro.svg") no-repeat;

  @media (min-width: @tablet-width) {
    top: 135px;
    left: 412px;
    width: 268px;
    height: 112px;
    background-size: contain;
  }

  @media (min-width: @desktop-width) {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
  }
}

.program-option__title {
  .title();
  line-height: 36px;
  padding: 30px 52px 30px 91px;

  @media (min-width: @tablet-width) {
    .main-title();
    padding: 77px 449px 24px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 150px 73px 214px;
  }
}

.program-option__description {
  position: relative;
  padding: 0 33px 38px 20px;

  @media (min-width: @tablet-width) {
    padding: 0 355px 48px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 60px 23px 52px;
  }
}

.program-option__description::after {
  @media (max-width: @mobile-only-width) {
    position: absolute;
    content: "";
    bottom: 15px;
    left: 20px;
    width: 85%;
    height: 1px;
    background: @light-gray;
  }
}

.program-option__link {
  position: relative;
  color: @black;
  font-size: 16px;
  line-height: 16px;
  padding: 0 127px 18px 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 450px 53px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 350px 55px 52px;
  }
}

.program-option__link::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 140px;
  width: 24px;
  height: 12px;
  background: url("../img/arrow-icon.svg") no-repeat;

  @media (min-width: @tablet-width) {
    top: 10px;
    left: 205px;
    width: 32px;
    height: 10px;
  }
}
