.program-form {

}

.program-form-wrapper {

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.program-selection-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 569px);
    column-gap: 80px;
  }
}

.program-form__title {
  position: relative;
  .main-title();
  margin-top: 24px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    .main-title-big();
    margin-top: 65px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 73px;
    margin-bottom: 56px;
  }
}

.program-form__title::before {
  position: absolute;
  content: "";
  top: -28px;
  right: 0;
  width: 100vw;
  height: 1px;
  background: #d9d9d9;
  box-shadow: 100vw 0 0#d9d9d9;
}

.program-form__description {
  .title();
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 39px;
  padding-right: 50px;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.program-selection__fields {
  border: none;
}

.program-form__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 19px;
  min-height: 40px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 52px;
  }
}

.program-form__asterisk {
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.program-form-button-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    gap: 64px;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    gap: 84px;
    margin-bottom: 82px;
  }
}

.control {
  display: flex;
  gap: 15px;
  align-items: center;
}

.control:disabled {
  opacity: 0.3;
}

.control-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-left: 28px;
  }
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: relative;
  display: block;
  content: "";
  top: 7px;
  left: 6px;
  width: 18px;
  height: 14px;
  background-image: url("../img/check-mark.svg");

  @media (min-width: @tablet-width) {
    top: 10px;
    left: 10px;
    width: 26px;
    height: 26px;
    background-image: url("../img/check-mark-tablet.svg");
    background-repeat: no-repeat;
  }
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: relative;
  display: block;
  content: "";
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;

  }
}
