.promo__top-part {
  height: 302px;
  background: url("/img/background-cat.png") @basic-green no-repeat;
}

.promo__bottom-part {
  margin-bottom: 20px;
}

.promo__title {
  .main-title();
  color: @white;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: @white;
}
